.block-level {
  max-width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
  background-color: whitesmoke;
  text-align: -webkit-center;

  .card {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    height: 6rem;

    .information {
      margin: 1rem;
      text-align: left;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 1rem;

      button {
        width: 100%;
      }
    }
  }
}
