.block-level {
  max-width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 5px;
  background-color: whitesmoke;
  text-align: -webkit-center;

  .accordion {
    margin: 1rem;
  }

  .title {
    display: flex;
    margin: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
  }

  button {
    height: 2rem;
    width: 180px;
    margin: 0.5rem;
  }
}
.row {
  width: 70%;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table.mat-table {
  width: 100%;
  text-align: center;

  th {
    font-size: 1rem;
    text-align: center;
  }
}
